<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Texto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="texto.html">Texto</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="tabla.html">Tablas</a></li>
            <li><a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>

    <h1>TItulo 1</h1>
    <h2>TItulo 1</h2>
    <h3>TItulo 1</h3>
    <h4>TItulo 1</h4>
    <h5>TItulo 1</h5>
    <h6>TItulo 1</h6>


    <p>Esto es un párrafo</p>
    <p>Esto es un <b>párrafo</b></p>
    <p>Esto es un <i>párrafo</i></p>
    <p>Esto es un <u>párrafo</u></p>
    <p>Esto es un <b><u><i>párrafo</i></u></b></p>

    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>
        <!--Direccionamiento-->
        <!--<br />
        <a href="../index.html">Regresar al inicio</a>-->
</body>
</html>